main {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.2px;
}
main #one {
    background-image: url(../image/bg1.jpg);
    width: 1920px; height: 946px;
    margin: 0 auto;
}
.logo,
.main_text,
.add_text {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
}
main #one .logo {
    padding-top: 65px;
    text-align: right;
}
main #one .main_text {}
main #one .main_text p {
    font-size: 4rem;
    line-height: 150%;
    margin-bottom: 13px;
    margin-top: 82px;
}
main #one .main_text h1 {
    font-size: 6rem;
    color: #ffeb60;
}
main #one .main_text h1:after {
    border-bottom: 1px solid #fff;
    display: block;
    width: 676px;
    content: "";
    margin-top: 34px;
    margin-bottom: 45px;
}
main #one .add_text {}
main #one .add_text p {
    font-size: 2rem;
}
main #one .add_text p span {
    color: #ffeb60;
}
main #one .add_text button {
    width: 333px; height: 57px;
    border-radius: 50px;
    background-color: #242424;
    color: #fff;
    border: 0;
    font-size: 1.5rem;
}
main #one .add_text button span {
    font-weight: 700;
}