main {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #222;
    display: inline-block;
    width: 100vw; height: 100vh;
    text-align: center;
    letter-spacing: -0.2px;
}
main h1 {
    font-weight: 700;
    font-size: 3.125rem;
    color: #1ED760;
    margin-top: 94px; margin-bottom: 87px;
}
main .sign a {
    font-size: 1.25rem;
    color: #fff;
    margin-left: 68px; margin-right: 68px;
}
main .sign a span {
    font-size: 1.25rem;
    text-decoration: underline 2px #1ED760;
}
main .user {
    margin-top: 52px;
}
main .user h2 {}
main .user h2 input {
    width: 500px; height: 73px;
    border-radius: 36.5px;
    border: solid #fff;
    padding-left: 40px;
}
main .user h2 ::placeholder {color: #aaa;}
main .user h2:nth-child(2) {margin-top: 14px;}
main .user p {
    margin: 31px 369px 33px 34px;
    color: #Fff;
}
main button {
    width: 500px; height: 73px;
    background-color: #1ED760; color: #fff;
    border-radius: 36.5px;
    border: solid 0px;
}
main button #id {}
main > p {
    margin-top: 14px;
    color: #fff;
}